#include{
	color:grey;
}
.code{
	font-size: 14px;
	background-color: #ddd;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	overflow: hidden;
	//margin-top: .5em;
	//margin-bottom: .5em;
	padding-top: 10px;
									
	padding-bottom: 10px;
	border: solid grey 1px;
	color:black;
	//height:100%;
}
.code{
	background-color: #ddd;
}
.codeWithTitle{
	padding:0px;
	//border:solid grey 0px;
	font-size: 14px;
	//background-color: #eee;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	overflow: auto;

}
#comment{
	color:#9090F5;
}
#dataType{
	color:blue;
}
#placeHolder{
	color: purple;
}
#conditional{
	color: red;
}

#string{
	color:green;
}
#escape{
	color:orange;
}
#number {
	color:brown;
}

#id{
	color:#ff5500;
}

#class{
	color:#00af00;
}
#px{
	color:blue;
}
#tags{
	color:red;
}
#language-terminal{
	font-family: monospace;
	font-size: 13px;
	background-color: black;
	color: green;
	font-family: monospace;
	padding:5px;
}

.lineNums{
	color: #5c8586;
	//background-color: white;
	display: inline-block;
	//padding-right: .5em;
}
.lineNumDivs{
	display:inline-block;
	width:1px;
	margin-left: 2px;
	margin-right:2px;
	background-color: grey;
}
.codeTitle{
	//padding-left: .5em;
	//height:100%;
	position: relative;
	background-color: #5c8586;
	width:100%;
	margin:0;
	color:white;
	font-size: 14px;
	top:-7px;
	padding-top: 4px;
}



.codeWrapNoLineNum{
	padding-left: 20px;
	padding-right: 10px;
}
.codeWrapLineNum{
	padding-left: 0;
	padding-right: 20px;
}
.codeWrapNoLineNum, .codeWrapLineNum{
	//display:none;
	overflow: auto;
}
.butts{
	position:absolute;
	z-index: 10;
	right:10px;
}
.butts:hover{
	cursor:pointer;
}
/*UNSELECTABLE*/
.codeTitle{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
code{
	border:solid grey 1px;
	height: 100px;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #bbb;
}
 
::-webkit-scrollbar-thumb {
	background-color: #5c8586;
}
#attributes{
	color:blue;
}