#include{
	color:grey;
}
.code{
	border:solid grey 1px;
	font-size: 14px;
	background-color: #eee;
	padding: 14px;
	//padding-top: 0px;
	padding-left: 0px;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	overflow: auto;
}

#comment{
	color:#9090F5;
}

#dataType{
	color:blue;
}

#placeHolder{
	color: purple;
}

#conditional{
	color: red;
}

code{
	border:solid grey 1px;
}

#string{
	color:green;
}

#escape{
	color:orange;
}
#number {
	color:brown;
}

#id{
	color:#ff5500;
}

#class{
	color:#00af00;
}
#px{
	color:blue;
}
#tags{
	color:red;
}
#language-terminal{
	font-family: monospace;
	font-size: 13px;
	background-color: black;
	color: green;
	font-family: monospace;
}

#lineNums{
	color: black;
}
#lineNumDivs{
	//color: black;
	display:inline-block;
	width:1px;
	margin-left: 2px;
	margin-right:2px;
	background-color: black;	
}

.codeTitle{
	background-color: blue;
	width:100%;
	padding:14px; 
	padding-top: 0px;
	padding-bottom: 0px;
	margin:0px;
	color:white;
}


